:root {
    --box-shadow: 0 20px 35px rgba(0,0,0,0.05);
}

.container {
    max-width: 990px;
    margin: 20px auto;
    box-shadow: var(--box-shadow);
}

.header {
    background-color: #333;
    padding: 12px 20px;
}

.header .logo {
    color: #FFF;
    text-decoration: underline;
}